@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

body{
    padding:2%;
}

.card{
    width:70%;
    height:100%;
    margin:auto;
    box-shadow:5px 10px 50px #888888;
}

.logo{
    margin:30px;
    height:25px;
    width:120px;
}

.loginform{
    width:40%;
    height:100%;
    margin-right:5%;
    margin-left:auto;
}

.loginform h6{
    text-align:left;
}

.remb{
    display:inline;
    float:left;
}



.forgot{
    display:inline;
    float:right;
    color:black;
}

.sideimg{
    position:absolute;
    height:50%;
    width:50%;
    top:25%;
}